### Student Name: Ash Hoskins,#S559245
### Course: CSIS 44-609 - Data Analytics Fundamentals
### Professor Denise Case
### Domain: Geospatial Data Module 7 Task 1: Chapter 10 Project Date: 2/27/2023

#### 10.2 Customer Class Account

In [1]:
#Import dependency Library - Had to follow  
from account import Account
from decimal import Decimal

In [2]:
account1 = Account('John Green', Decimal('50.00'))
account1.name

'John Green'

In [3]:
account1.balance

Decimal('50.00')

In [4]:
account1.deposit(Decimal('25.53'))
account1.balance

Decimal('75.53')

#### 10.3 Conrolling Access to Attributes

In [5]:
account1.balance = Decimal('-1000.00')
account1.balance

Decimal('-1000.00')

#### 10.4 Properties for Data Access

In [6]:
from timewithproperties import Time

In [7]:
wake_up = Time(hour = 6, minute = 30)
print(wake_up)

6:30:00 AM

In [8]:
wake_up.hour

6

In [9]:
wake_up.set_time(hour = 7, minute = 45)
print(wake_up)

7:45:00 AM

In [10]:
wake_up.hour = 9
print(wake_up)

9:45:00 AM

#### 10.5 Simulating "Private" Attributes

In [11]:
from private import PrivateClass
my_object = PrivateClass()

In [12]:
my_object.public_data

'public'

In [13]:
#Intentional error to test private attributes
my_object.__private_data

AttributeError: 'PrivateClass' object has no attribute '__private_data'

In [ ]:
my_object._PrivateClass__private_data = 'modified'
my_object._PrivateClass__private_data

'modified'

#### 10.6 Case Study Card Shuffling and Dealing Simulation

In [ ]:
from deck import DeckOfCards
from pathlib   import Path
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
deck1 = DeckOfCards()

In [ ]:
print(deck1)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [ ]:
DeckOfCards.shuffle(deck1)
print(deck1)

3 of Hearts        Ace of Clubs       5 of Spades        6 of Diamonds
Jack of Clubs      3 of Diamonds      Jack of Hearts     4 of Spades
2 of Hearts        2 of Diamonds      King of Diamonds   Ace of Diamonds
Queen of Spades    Queen of Diamonds  King of Spades     King of Hearts
8 of Clubs         5 of Diamonds      5 of Clubs         8 of Diamonds
10 of Clubs        7 of Spades        2 of Clubs         3 of Spades
King of Clubs      Jack of Spades     9 of Clubs         4 of Hearts
10 of Diamonds     9 of Hearts        9 of Diamonds      8 of Spades
7 of Clubs         9 of Spades        5 of Hearts        4 of Clubs
8 of Hearts        2 of Spades        7 of Hearts        Ace of Hearts
6 of Spades        Queen of Hearts    Jack of Diamonds   4 of Diamonds
10 of Spades       Queen of Clubs     6 of Hearts        3 of Clubs
Ace of Spades      6 of Clubs         10 of Hearts       7 of Diamonds

In [ ]:
card = deck1.deal_card()
str(card)

'3 of Hearts'

In [ ]:
card.image_name

'3_of_Hearts.png'

In [ ]:
%matplotlib

Using matplotlib backend: TkAgg

In [ ]:
path = Path('.').joinpath('card_images')

In [ ]:
figure, axes_list = plt.subplots(nrows = 4, ncols = 13)

In [ ]:
# Does not work, followed book. Ran out of time to troubleshoot.
for axes in axes_list.ravel():
    axes.get_xaxis().setvisible(False)
    axes.get_yaxis().setvisible(False)
    image_name = deck1.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'XAxis' object has no attribute 'setvisible'

#### 10.8 Building an Inheritance Hierarchy: Introducting Polymorphism.

In [ ]:
from commissionemployee import CommissionEmployee

In [ ]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', Decimal('10000.00'), Decimal('0.06'))
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [ ]:
print(f'{c.earnings():,.2f}')

600.00

In [ ]:
c.gross_sales = Decimal('20000.00')
c.commission_rate = Decimal('0.1')
print(f'{c.earnings():,.2f}')

2,000.00

In [ ]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [ ]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [ ]:
print(s.first_name, s.last_name,s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [ ]:
print(f'{s.earnings():,.2f}')

500.00

In [ ]:
s.gross_sales = Decimal('10000.00')
s.commission_rate = Decimal('0.05')
s.base_salary = Decimal('1000.00')
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00

In [ ]:
print(f'{s.earnings():,.2f}')

1,500.00

In [ ]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [ ]:
isinstance(s, CommissionEmployee)

True

In [ ]:
isinstance(s, SalariedCommissionEmployee)

True

In [ ]:
employees = [c, s]

for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

In [ ]:
class WellPaidDuck:
    def __repr__(self):
        return "I am a well-paid duck"
    def earnings(self):
        return Decimal('1_000_000.00')

In [ ]:
d = WellPaidDuck()
employees = [c, s, d]

In [ ]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

I am a well-paid duck
1,000,000.00

#### 10.10 Operator Overlording

In [ ]:
from complexnumber import Complex

In [ ]:
x = Complex(real = 5, imaginary= 4)
y = Complex(real = 2, imaginary= 3)

In [ ]:
print(x)
print(y)
print(x + y)

(5 + 4i)
(2 + 3i)
(7 + 7i)

In [ ]:
from complexnumber2 import Complex

In [ ]:
x = Complex(real = 5, imaginary= 4)
y = Complex(real = 2, imaginary= 3)

In [ ]:
x - y

(3 + 1i)

In [ ]:
x-=y

#### 10.12 Named Tuples

In [ ]:
from collections import namedtuple

In [ ]:
Card = namedtuple('Card', ['face', 'suit'])

In [ ]:
card = Card(face ='Ace', suit='Spades')
card.face

'Ace'

In [ ]:
values = ['Queen', ' Hearts']
card = Card._make(values)

card

Card(face='Queen', suit=' Hearts')

In [ ]:
Time = namedtuple('Time', ['hour', 'minute', 'second'])
t = Time(13, 30, 45)
print(t)

Time(hour=13, minute=30, second=45)

#### 10.13 Intro to new Data Class

In [ ]:
from carddataclass import Card

In [ ]:
c1 = Card(Card.FACES[0], Card.SUITS[3])
c1

Card(face='Ace', suit='Spades')

In [ ]:
print(c1)

Ace of Spades

In [ ]:
c = Card('Ace', 'Spades')
c

Card(face='Ace', suit='Spades')

In [ ]:
type(c.face)

str

#### 10.16 Intro to Data Science Time Series and Simple Linear Regression

In [ ]:
c = lambda f: 5/9 * (f-32)
temps = [(f, c(f)) for f in range (0, 101, 10)]

In [ ]:
import pandas as pd

In [ ]:
temps_df = pd.DataFrame(temps, columns = ['Fahrenheit', 'Celsius'])
axes = temps_df.plot(x = 'Fahrenheit', y='Celsius', style = '.-')
y_label = axes.set_ylabel('Celsius')

In [ ]:
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [ ]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [ ]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [ ]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [ ]:
nyc.Date = nyc.Date.floordiv(100)
pd.set_option('display.precision', 2)
nyc.head(3)

   Date  Temperature  Anomaly
0  1895         34.2     -3.2
1  1896         34.7     -2.7
2  1897         35.5     -1.9

In [ ]:
nyc.Temperature.describe()

count    124.00
mean      37.60
std        4.54
min       26.10
25%       34.58
50%       37.60
75%       40.60
max       47.60
Name: Temperature, dtype: float64

In [ ]:
from scipy import stats
LR = stats.linregress(x=nyc.Date, y=nyc.Temperature)

In [ ]:
LR.slope

0.014771361132966163

In [ ]:
LR.intercept

8.694993233674289

In [ ]:
LR.slope * 2019 + LR.intercept

38.51837136113297

In [ ]:
import seaborn as sns
sns.set_style('whitegrid')
axes = sns.regplot(x=nyc.Date, y=nyc.Temperature)

In [ ]:
axes.set_ylim(10, 70)

(10.0, 70.0)

In [ ]:
year = 2019
slope = LR.slope
intercept = LR.intercept
temp = slope * year + intercept

while temp < 40:
    year += 1
    temp = slope * year + intercept

year

2120