### Student Name: Ash Hoskins,#S559245
### Course: CSIS 44-609 - Data Analytics Fundamentals
### Professor Denise Case
### Domain: Geospatial Data Module 7 Task 1: Chapter 10 Project Date: 2/27/2023

#### 10.2 Customer Class Account

In [105]:
#Import dependency Library - Had to follow  
from account import Account
from decimal import Decimal

In [106]:
account1 = Account('John Green', Decimal('50.00'))
account1.name

'John Green'

In [107]:
account1.balance

Decimal('50.00')

In [108]:
account1.deposit(Decimal('25.53'))
account1.balance

Decimal('75.53')

#### 10.3 Conrolling Access to Attributes

In [109]:
account1.balance = Decimal('-1000.00')
account1.balance

Decimal('-1000.00')

#### 10.4 Properties for Data Access

In [110]:
from timewithproperties import Time

In [111]:
wake_up = Time(hour = 6, minute = 30)
print(wake_up)

6:30:00 AM

In [112]:
wake_up.hour

6

In [113]:
wake_up.set_time(hour = 7, minute = 45)
print(wake_up)

7:45:00 AM

In [114]:
wake_up.hour = 9
print(wake_up)

9:45:00 AM

#### 10.5 Simulating "Private" Attributes

In [115]:
from private import PrivateClass
my_object = PrivateClass()

In [116]:
my_object.public_data

'public'

In [117]:
#Intentional error to test private attributes
my_object.__private_data

AttributeError: 'PrivateClass' object has no attribute '__private_data'

In [ ]:
my_object._PrivateClass__private_data = 'modified'
my_object._PrivateClass__private_data

'modified'

#### 10.6 Case Study Card Shuffling and Dealing Simulation

In [ ]:
from deck import DeckOfCards
from pathlib   import Path
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
deck1 = DeckOfCards()

In [ ]:
print(deck1)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [ ]:
DeckOfCards.shuffle(deck1)
print(deck1)

3 of Hearts        Ace of Clubs       5 of Spades        6 of Diamonds
Jack of Clubs      3 of Diamonds      Jack of Hearts     4 of Spades
2 of Hearts        2 of Diamonds      King of Diamonds   Ace of Diamonds
Queen of Spades    Queen of Diamonds  King of Spades     King of Hearts
8 of Clubs         5 of Diamonds      5 of Clubs         8 of Diamonds
10 of Clubs        7 of Spades        2 of Clubs         3 of Spades
King of Clubs      Jack of Spades     9 of Clubs         4 of Hearts
10 of Diamonds     9 of Hearts        9 of Diamonds      8 of Spades
7 of Clubs         9 of Spades        5 of Hearts        4 of Clubs
8 of Hearts        2 of Spades        7 of Hearts        Ace of Hearts
6 of Spades        Queen of Hearts    Jack of Diamonds   4 of Diamonds
10 of Spades       Queen of Clubs     6 of Hearts        3 of Clubs
Ace of Spades      6 of Clubs         10 of Hearts       7 of Diamonds

In [ ]:
card = deck1.deal_card()
str(card)

'3 of Hearts'

In [ ]:
card.image_name

'3_of_Hearts.png'

In [ ]:
%matplotlib

Using matplotlib backend: TkAgg

In [ ]:
path = Path('.').joinpath('card_images')

In [ ]:
figure, axes_list = plt.subplots(nrows = 4, ncols = 13)

In [ ]:
# Does not work, followed book. Ran out of time to troubleshoot.
for axes in axes_list.ravel():
    axes.get_xaxis().setvisible(False)
    axes.get_yaxis().setvisible(False)
    image_name = deck1.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'XAxis' object has no attribute 'setvisible'

#### 10.8 Building an Inheritance Hierarchy: Introducting Polymorphism.

In [122]:
from commissionemployee import CommissionEmployee

In [123]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', Decimal('10000.00'), Decimal('0.06'))
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [125]:
print(f'{c.earnings():,.2f}')

600.00

In [126]:
c.gross_sales = Decimal('20000.00')
c.commission_rate = Decimal('0.1')
print(f'{c.earnings():,.2f}')

2,000.00

In [127]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [128]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [129]:
print(s.first_name, s.last_name,s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [130]:
print(f'{s.earnings():,.2f}')

500.00

In [131]:
s.gross_sales = Decimal('10000.00')
s.commission_rate = Decimal('0.05')
s.base_salary = Decimal('1000.00')
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00

In [132]:
print(f'{s.earnings():,.2f}')

1,500.00

In [133]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [134]:
isinstance(s, CommissionEmployee)

True

In [135]:
isinstance(s, SalariedCommissionEmployee)

True

In [136]:
employees = [c, s]

for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00